
body, input, textarea {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
}

body {
  background-color: #EADEBD;
}

a, a:visited, a:focus {
  color: black;
}

.container {
  padding-left: 10px;
}

.title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.main-title {
  font-size: 18px;
  opacity: 0.6;
}

.year-title {
  font-size: 9px;
}

.end-title {
  font-size: 9px;
  pointer-events: none;
}

.pill {
  stroke-linejoin: round;
}

.pill-outer {
  stroke-linejoin: round;
}

.link {
  stroke-width: 1;
  stroke: #AEA495;
}

.pill rect, .pill path {
  stroke: #524441;
  stroke-width:1;
}

.pill rect.no-stroke {
  stroke: none;
  stroke-width:0;
}

.pill-outline {
  fill:none;
  stroke: #524441;
  stroke-width:1;
}

/* .link { */
/*   -webkit-transition: opacity .25s ease-in-out; */
/*   -moz-transition: opacity .25s ease-in-out; */
/*   -ms-transition: opacity .25s ease-in-out; */
/*   -o-transition: opacity .25s ease-in-out; */
/* } */
/*  */
/* .pill { */
/*   -webkit-transition: opacity .25s ease-in-out; */
/*   -moz-transition: opacity .25s ease-in-out; */
/*   -ms-transition: opacity .25s ease-in-out; */
/*   -o-transition: opacity .25s ease-in-out; */
/* } */

.highlight {
  stroke: black;
  stroke-width:2;
}

.pill.unhighlight {
  opacity: 0.7;
}

.highlight .pill-outline{
  stroke: black;
  stroke-width:2;
}

.start-city {
  -webkit-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -ms-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

.start-city.highlight {
  stroke-width:1;
}

.start-city.unhighlight {
  opacity: 0.4;
}

.zoom {
  cursor: pointer;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
  font-size: 150%;
}

.zoom:hover {
  opacity: 0.8;
}

.city-title {
  cursor: default;
}

#footer {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;

  text-align: center;
  padding-bottom: 10px;
}

